@import 'node_modules/bulma/bulma.sass';

body {
    background-color: $primary;
    width: 100vw;
    height: 100vh;
    padding: 3em 0;
}

#content {
    width: 50%;
    margin: auto;

    h1  {
        font-size: 6em;
        font-family: "Lobster";
        text-align: left;
        margin: 0 auto;
    }
     p  {
         margin: 0 3em;
     }
}

#content * {
    margin: 1em auto;
}
