<!doctype html>
<html>
  <head>
    <title>Counselr</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div id="content" class="box hero">
      <h1>Counselr</h1>
      <p>
      User: 
      <% if(user) { %>
        <%= user %> (<a href='/logout'>logout</a>)
      <% } else { %>
        Not logged in
      <% } %>
      </p>
      <ul>
        <li>
          <a href='/login'>Login / Register</a>
        </li>
        <li>
          <a href='/restricted'>Restricted page</a>
        </li>
      </ul>
      <form action="/sendtoken" method="POST">
        <input name="user" type="text">
        <input type="submit" value="GO">
      </form>
    </div>
  </body>
</html>
